/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&lt { tapping-term-ms = <100>; };

&mt { tapping-term-ms = <100>; };

/ {
    combos {
        compatible = "zmk,combos";

        caps_lock {
            bindings = <&kp CAPSLOCK>;
            key-positions = <24 35>;
        };
    };

    behaviors {
        caps_lock: caps_lock {
            compatible = "zmk,behavior-tap-dance";
            label = "CAPS_LOCK";
            #binding-cells = <0>;
            bindings = <&none>, <&kp CAPSLOCK>;

            tapping-term-ms = <200>;
        };

        layer_backspace: layer_backspace {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_BACKSPACE";
            #binding-cells = <0>;
            bindings = <&lt 1 BACKSPACE>, <&kp BACKSPACE>;

            tapping-term-ms = <100>;
        };

        space_nav: space_nav {
            compatible = "zmk,behavior-hold-tap";
            label = "SPACE_NAV";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        main {
            bindings = <
&kp TAB           &kp Q  &kp W  &kp E             &kp R                 &kp T                 &kp Y         &kp U           &kp I            &kp O    &kp P          &kp BACKSLASH
&kp LEFT_GUI      &kp A  &kp S  &kp D             &kp F                 &kp G                 &kp H         &kp J           &kp K            &kp L    &kp SEMICOLON  &kp SQT
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C             &kp V                 &kp B                 &kp N         &kp M           &kp COMMA        &kp DOT  &kp FSLH       &tog 4
                                &layer_backspace  &mt LEFT_SHIFT SPACE  &mt LEFT_ALT ENTER    &lt 2 ESCAPE  &lt 3 C_VOL_DN  &kp C_VOLUME_UP
            >;
        };

        numsym {
            bindings = <
&kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp N7  &kp N8  &kp N9  &kp N0                  &trans  &trans          &trans     &trans        &trans        &trans
&kp PERIOD        &kp SEMI           &kp N4  &kp N5  &kp N6  &kp MINUS               &trans  &kp LEFT_SHIFT  &kp LCTRL  &kp LEFT_ALT  &kp LEFT_WIN  &trans
&kp ENTER         &kp GRAVE          &kp N1  &kp N2  &kp N3  &kp EQUAL               &trans  &trans          &trans     &trans        &trans        &trans
                                             &trans  &trans  &kp NON_US_BACKSLASH    &trans  &trans          &trans
            >;
        };

        Fun {
            bindings = <
&trans  &trans    &trans    &trans     &trans     &trans           &trans   &kp F7  &kp F8  &kp F9  &kp F12  &mo 6
&trans  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &kp LG(LS(C))    &trans   &kp F4  &kp F5  &kp F6  &kp F11  &trans
&trans  &trans    &trans    &trans     &trans     &trans           &kp TAB  &kp F1  &kp F2  &kp F3  &kp F10  &trans
                            &trans     &kp SPACE  &trans           &trans   &trans  &trans
            >;
        };

        nav {
            bindings = <
&trans  &mkp RCLK  &trans          &mmv MOVE_UP    &trans           &mkp MCLK    &trans  &kp INS   &kp UP_ARROW  &kp DELETE       &kp PG_UP  &trans
&trans  &mkp LCLK  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans       &trans  &kp LEFT  &kp DOWN      &kp RIGHT_ARROW  &kp PG_DN  &trans
&trans  &trans     &kp LCTRL       &kp LSHIFT      &kp LEFT_ALT     &trans       &trans  &kp HOME  &kp PG_DN     &kp END          &trans     &trans
                                   &trans          &trans           &trans       &trans  &trans    &trans
            >;
        };

        game {
            bindings = <
&kp TAB       &kp ESCAPE        &kp Q     &kp W    &kp E      &kp R           &trans  &trans  &trans  &trans  &trans  &trans
&kp NUMBER_2  &kp LSHFT         &kp A     &kp S    &kp D      &kp F           &trans  &trans  &trans  &trans  &trans  &trans
&kp NUMBER_3  &kp LEFT_CONTROL  &kp LEFT  &kp C    &kp RIGHT  &kp NUMBER_1    &trans  &trans  &trans  &trans  &trans  &trans
                                          &lt 5 X  &kp SPACE  &kp LEFT_ALT    &trans  &trans  &trans
            >;
        };

        game_arrows {
            bindings = <
&trans  &trans  &trans          &kp UP_ARROW    &trans           &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans          &trans          &trans           &trans    &trans  &trans  &trans  &trans  &trans  &trans
                                &trans          &trans           &trans    &trans  &trans  &trans
            >;
        };

        firmware {
            bindings = <
&trans  &trans        &trans        &trans        &trans        &trans          &sys_reset      &trans  &trans  &trans  &trans  &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans          &trans          &trans  &trans  &trans  &trans  &to 0
                                    &trans        &bootloader   &bt BT_CLR      &bt BT_CLR_ALL  &trans  &trans
            >;
        };
    };
};
