/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&lt { tapping-term-ms = <100>; };

&mt { tapping-term-ms = <100>; };

/ {
    combos {
        compatible = "zmk,combos";

        caps_lock {
            bindings = <&kp CAPSLOCK>;
            key-positions = <24 35>;
        };
    };

    behaviors {
        caps_lock: caps_lock {
            compatible = "zmk,behavior-tap-dance";
            label = "CAPS_LOCK";
            #binding-cells = <0>;
            bindings = <&none>, <&kp CAPSLOCK>;

            tapping-term-ms = <200>;
        };

        meta_backspace: meta_backspace {
            compatible = "zmk,behavior-tap-dance";
            label = "META_BACKSPACE";
            #binding-cells = <0>;
            bindings = <&mt LEFT_GUI BACKSPACE>, <&kp BACKSPACE>;

            tapping-term-ms = <100>;
        };

        space_nav: space_nav {
            compatible = "zmk,behavior-hold-tap";
            label = "SPACE_NAV";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        main {
            bindings = <
&kp TAB     &kp Q  &kp W  &kp E                        &kp R            &kp T                 &kp Y        &kp U               &kp I                            &kp O    &kp P          &kp BACKSLASH
&kp LCTRL   &kp A  &kp S  &kp D                        &kp F            &kp G                 &kp H        &kp J               &kp K                            &kp L    &kp SEMICOLON  &kp SQT
&caps_lock  &kp Z  &kp X  &kp C                        &kp V            &kp B                 &kp N        &kp M               &kp COMMA                        &kp DOT  &kp FSLH       &mo 3
                          &mt LS(LA(LCTRL)) LG(LC(M))  &meta_backspace  &mt LEFT_SHIFT ESC    &lt 1 ENTER  &space_nav 2 SPACE  &mt LEFT_ALT LS(LC(LA(INSERT)))
            >;
        };

        numsym {
            bindings = <
&trans  &kp GRAVE     &kp EQUAL     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PERCENT     &kp AT         &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3          &kp NUMBER_4           &kp N5          &kp NUMBER_6   &kp N7          &kp N8           &kp N9            &kp N0             &kp UNDER
&trans  &kp CARET     &kp TILDE     &kp HASH              &kp DOLLAR             &kp ASTERISK    &kp AMPERSAND  &kp PLUS        &kp MINUS        &trans            &kp EXCLAMATION    &kp QUESTION
                                    &trans                &trans                 &trans          &kp LS(ENTER)  &trans          &trans
            >;
        };

        nav {
            bindings = <
&trans  &mkp RCLK  &trans          &mmv MOVE_UP    &trans           &mkp MCLK    &kp SYSREQ  &kp HOME        &trans        &kp END             &trans  &trans
&trans  &mkp LCLK  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans       &kp LEFT    &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW     &trans  &trans
&trans  &trans     &kp LCTRL       &kp LSHIFT      &kp LEFT_ALT     &trans       &kp DEL     &kp PAGE_DOWN   &kp PG_UP     &kp K_CONTEXT_MENU  &trans  &trans
                                   &trans          &trans           &trans       &trans      &trans          &trans
            >;
        };

        firmware {
            bindings = <
&trans  &trans        &trans        &trans        &trans        &trans          &sys_reset      &trans  &trans  &trans  &trans  &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans          &trans          &trans  &trans  &trans  &trans  &trans
                                    &trans        &bootloader   &bt BT_CLR      &bt BT_CLR_ALL  &trans  &trans
            >;
        };
    };
};
